@import "reset.css";
@font-face {
    font-family: 'prata-regular';
    font-style: normal;
    src: url('../../fonts/Prata-regular.woff2') format('woff2');
}

body {
    background-color: #282829;
}

.header-menu {
    position: fixed;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    height: 90px;
    width: 47%;
    padding-left: 200px;
    padding-right: 140px;
    border-radius: 0 0 50px 50px;
}
.header-name {
    font-family: 'prata-regular', serif;
    font-size: 36px;
    color: #ffffff;
}
.bar-button {
    display: none;
}
.header-nav {
    display: flex;
    gap: 29px;
}
.header-nav__item {
    font-family: Arial, serif;
    font-size: 16px;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 1px;
}
.header-nav__item:hover {
    color: grey;
}

.about {
    display: flex;
    background-color: #222222;
    height: 100%;
    padding-left: 200px;
}

.about__title {
    margin-top: 150px;
    font-size: 75px;
    color: white;
    font-family: 'prata-regular', serif;
    font-weight: 500;
    line-height: 1.1;
}
.about-img {
    height: 1000px;
    width: 800px;
}
.about__subtitle {
    font-family: Arial-, sans-serif;
    color: white;
    font-size: 50px;
    margin-top: 50px;
}
.about__list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;

}
.about__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: max-content;
    background-color: #282829;
    border-radius: 10px;
    padding-right: 20px;
}
.about__item_name {
    display: flex;
    align-items: center;
    font-family: Arial, serif;
    font-size: 24px;
    color: #ffffff;
}
.about__item_name-numbers {
    font-family: 'prata-regular', serif;
    font-size: 40px;
    padding: 0 10px;
}
.button-order {
    width: 200px;
    height: 100px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button-order:hover {
    background-color: grey;
    border: 3px solid #282829;
}



.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 750px;
    margin-top: 100px;
    background-color: #333333;
}
.description__image {
    width: 33%;
}
.description-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    width: 50%;
}
.description__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
    width: 80%;
    height: 80%;
    margin-top: 50px;

}
.description__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid #55565A;
    padding-bottom: 40px;
}
.description__button-order {
    width: 80%;
    height: 80px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.description__list-title {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, serif;
    font-size: 24px;
    color: #ffffff;
    width: 80%;
}
.description__button-order:hover {
    background-color: grey;
    border: 3px solid #333333;
}
.br-none {
    border: none;
}

.contact-us {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    height: 640px;
}
.contact-us__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 80%;
    background-color: #ffffff;
    border-radius: 30px;
}
.contact-us__block {
    margin: 50px 70px 70px 134px ;
    width: 60%;

}

.contact-us__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 26px;
}

.contact-us__title {
    font-family: 'prata-regular', serif;
    font-size: 54px;
    color: #38535D;
    margin-bottom: 40px;
}
.contact-us_input {
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%;
    height: 65px;
    border: 2px solid #D6D6D6;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #38535D;

}
.contact-us_input:focus {
    border: 1px solid #38535D;
}
.contact-us__checkbox-title {
    font-family: Arial, serif;
    font-size: 19px;
    color: #56555A;
}
#agreement {
    border: 2px solid #405D65;
    width: 24px;
    height: 24px;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 16px;
}
.submit-button {
    width: 100%;
    height: 100px;
    background-color: #282829;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #405D65;
    border: 3px solid white;
    border-radius: 7px;
}
.contact-us__image {
    width: 40%;
    height: 100%;
    border-radius: 0 30px 30px 0;
}


.footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border: 1px solid #D5C9BE;
    border-left: none;
    border-right: none;
    height: 100px;
}
.footer-nav {
    display: flex;
    gap: 29px;
}
.footer-nav__item {
    font-family: Arial, serif;
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 1px;
}
.footer-nav__item:hover {
    color: grey;
}


.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 65px 183px 65px 160px;
    background-color: #222222;

}

.footer-title {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.footer-title__name {
    font-family: 'prata-regular', serif;
    font-size: 36px;
    color: #ffffff;
}
.footer-title__copyright {
    font-family: Arial, serif;
    font-size: 20px;
    color: #ffffff;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 63px
}

.footer-contacts__list {
    display: flex;
    flex-direction: row;
    gap: 32px
}
.footer-text {
    font-family: Arial, serif;
    font-size: 20px;
    color: #D5C9BE;
}
.footer-order {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 38px
}
.footer-button {
    width: 180px;
    height: 80px;
    font-family: Arial, serif;
    font-style: italic;
    font-size: 20px;
    color: #222222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer-button:hover {
    background-color: grey;
    border: 3px solid #222222;
    border-radius: 7px;
}

@media (max-width: 1630px) {
    .header-menu {
        width: 37%;
        gap: 20px;
        padding-right: 90px;
        padding-left: 130px;
    }
    .header-name {
        font-size: 25px;
    }
    .about {
        padding-left: 130px;
        gap: 20px
    }
    .about__title {
        margin-top: 120px;
    }
    .about-img {
        height: 1000px;
        width: 800px;
    }
    .button-order {
        margin-top: 35px;
    }
}
@media (max-width: 1600px) {
    .header-menu {
        padding-left: 70px;
    }
    .about {
        padding-left: 70px;
    }
    .about-img {
        height: 1000px;
        width: 700px;
    }
    .description__list-title {
        font-size: 20px;
    }
    .contact-us__block {
        margin-left: 70px;
    }
}
@media (max-width: 1470px) {
    .about__title {
        margin-top: 130px;
        font-size: 60px;
        line-height: 1.2;
    }
    .about-img {
        height: 900px;
        width: 650px;
    }
    .contact-us__title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .contact-us {
        height: 500px;
    }
    .submit-button {
        height: 60px;
    }
    .contact-us_input {
        height: 50px;
    }
}
@media (max-width: 1410px) {
    .header-menu {
        padding-right: 60px;
    }
    .about__content {
        width: 60%;
    }
    .about__title {
        margin-top: 130px;
        font-size: 50px;
        line-height: 1.2;
    }
    .about__subtitle {
        font-size: 30px;
        margin-top: 40px;
    }
    .about-img {
        height: 800px;
        width: auto;
    }
    .about__list {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 30px;
    }
    .about__item_name {
        display: flex;
        align-items: center;
        font-family: Arial, serif;
        font-size: 20px;
        color: #ffffff;
    }
    .about__item_name-numbers {
        font-family: 'prata-regular', serif;
        font-size: 30px;
        padding: 0 10px;
    }
    .button-order {
        width: 170px;
        height: 80px;
        margin-top: 55px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    .footer-menu {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding: 65px 0;
    }
    .footer-title {
        align-items: center;
    }
    .footer-order {
        align-items: center;
    }
}
@media (max-width: 1310px) {
    .header-menu {
        height: 10%;
    }
    .about-img {
        height: 800px;
        width: auto;
    }
    .description__list-title {
        font-size: 18px;
    }
    .contact-us__block {
        margin-left: 70px;
    }

}
@media (max-width: 1200px) {
    .header-menu {
        padding-right: 70px;
    }
    .header-nav {
        gap: 20px;
    }
    .about-img {
        height: 700px;
        width: 500px;
    }
    .button-order {
        width: 150px;
        height: 70px;
        margin-top: 20px;
    }
    .about__title {
        margin-top: 120px;
    }
    .description__list-title {
        font-size: 18px;
    }
    .description__list {
    }
    .contact-us__title {
        font-size: 30px;
    }
    .contact-us {
        height: 450px;
    }
}
@media (max-width: 1150px) {
    .header-menu {
        padding-left: 20px;
        padding-right: 30px;
        height: 7%;
        width: 35%;
        justify-content: flex-start;
    }
    .header-name {
        padding-left: 20px;
    }
    .header-nav {
        display: none;
    }
    .bar-button {
        display: flex;
        border: none;
        background: none;
    }
    .svg-bar {
        display: flex;
        color: white;
    }
    .about {
        padding-left: 20px;
    }
    .about__title {
        font-size: 40px;
    }
    .about__subtitle {
        font-size: 30px;
        margin-top: 20px;
    }
    .about__item_name {
        flex-wrap: wrap;
        font-size: 18px;
        flex: 0 0 80%;
        padding: 5px 0;
    }
    .about__item_name:nth-child(3) {
        order: 1;
        flex-basis: 100%;
    }
    .about__list {
        width: 90%;
        margin-top: 15px;
        gap: 15px;
    }
    .about__item {
        flex-wrap: wrap;
        width: 100%;
    }
    .about__item_name-numbers {
        font-size: 25px;
    }
    .about-img {
        height: 700px;
        width: 500px;
        border-radius: 50%;
    }
    .button-order {
        margin-top: 35px;
    }
    .description {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px 0;
    }
    .description__image {
        width: 40%;
        height: 40%;
        border-radius: 50%;
    }
    .description__item {
        padding-bottom: 30px;
    }
    .description__list {
        margin: 0;
    }
    .description__list-title {
        display: flex;
        font-size: 17px;

    }
    .description-content {
        justify-content: space-between;
        height: 100%;
        margin: 30px 0;
        gap: 30px;

    }

}
@media (max-width: 900px) {
    .about-img {
    }
    .header-name {
        font-size: 20px;
    }
    .svg-bar {
        width: 20px;
        height: 20px;
    }
    .about {
        gap: 0;
    }
    .about__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* или space-around */
    }
    .about-img {
        width: 50%;
    }
    .about__subtitle {
        display: none;
        font-size: 20px;
        margin: 0;
    }
    .about__title {
        font-size: 30px;
        width: 100%;
    }
    .about__item_name {
        font-size: 15px;
    }
    .about__item_name-numbers {
        padding: 0 5px;
        font-size: 20px;
    }
    .button-order {
        margin: 0 auto 20px auto;
        font-size: 19px;
        width: 300px;
    }
    .contact-us__content {
        height: 400px;
    }
    .contact-us__block {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }
    .contact-us__title {
        font-size: 25px;
    }
    .contact-us__form {
        display: flex;
        align-items: center;
    }
    label {
        width: 70%;
    }
    .contact-us_input {
        height: 35px;
        width: 100%;
        font-size: 19px;
    }
    .contact-us__checkbox-title {
        font-size: 15px;
    }
    .submit-button {
        width: 70%;
    }

}

@media (max-width: 767px) {
    .header-menu {
        width: 100%;
        justify-content: center;
        padding: 0;
        gap: 10px;
    }
    .about {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .br {
        display: none;
    }
    .about__content {
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .about__title {
        text-align: center;
    }
    .about__item_name {
        justify-content: center;
    }
    .about-img {
        width: 50%;
        height: 50%;
    }
    .button-order {
        font-size: 17px;
    }
}
@media (max-width: 700px) {
    .description {
        margin: 50px 0 0 0;
    }
    .contact-us {
        margin: 50px 0 0 0;
    }
    .contact-us__image {
        display: none;
    }
    .contact-us__block {
        width: 100%;
    }
    .footer-nav__item {
        font-size: 15px;
    }
    .footer-title__name {
        font-size: 25px;
        white-space: nowrap;
    }
    .footer-title__copyright {
        font-size: 20px;
    }
    .footer-contacts__list {
        flex-direction: column;
        gap: 10px;
    }
    .footer-text {
        white-space: nowrap;
    }
    .about__item {
        flex-wrap: nowrap;
        text-align: center;
    }
}
@media (max-width: 600px) {
    .about__content {
        width: 90%;
    }
    .button-order {
        width: 60%;
        height: 50px;
        font-size: 15px;
    }
    .about__item {
        padding: 0;
    }
}
@media (max-width: 500px) {
    .about {
        padding: 0;
    }
    .about__content {
        width: 90%;
    }
    .about-img {
        width: 250px;
        height: 300px;
        border-radius: 50%;
    }
    .about__item_name {
        font-size: 14px;
    }
    .about__title {
        font-size: 25px;
    }
    .button-order {
        width: 150px;
    }
    .description__svg {
        display: none;
    }
    .description__item {
        justify-content: center;
    }
    .description__list-title {
        font-size: 15px;
    }
    .description__button-order {
        height: 50px;
        font-size: 15px;
    }
    .description__image {
        width: 250px;
        height: 300px;
    }
}
@media (max-width: 400px) {
    .about__item {
        justify-content: center;
    }
    .about__item_name {

    }
    .about__svg {
        display: none;
    }
    .contact-us__title {
        font-size: 20px;
    }
    .submit-button {
        font-size: 15px;
    }
    .contact-us__checkbox-title {
        font-size: 13px;
    }
    .contact-us_input {
        font-size: 15px;
        padding: 0 0 0 10px;
    }
}